<h1>Datenschutzhinweis zum Alexa Skill Escape Home</h1>
<br>
<h3>Übersicht der gespeicherten Daten:</h3>
Wir erhalten über den Alexa Skill folgende Daten von Ihnen und verwenden diese zu den aufgeführten Zwecken:
<table>
    <tr>
        <th>Daten</th>
        <th>Zweck</th>
    </tr>
    <tr>
        <td>User ID</td>
        <td>
            Für den Skill Escapehome Wird die <i>User ID</i>, die von Amazon zur Verfügung gestellt wird, verwendet,
            um den Spielverlauf eines Nutzer zu speichern. <br>
            Nur so können angefangene Spiele bei erneuten Starts des Skills fortgesetzt werden.
            Weitere Information finden sich in der
            <a href="https://developer.amazon.com/de/docs/custom-skills/request-and-response-json-reference.html#session-object">
                Alexa Skills Kit Doku
            </a>.
        </td>
    </tr>
    <tr>
        <td>Zugriffdaten</td>
        <td>Im Einzelnen werden folgende Informationen erhoben und gespeichert:<br>
            Startzeit der Nutzung, Endzeit der Nutzung
        </td>
    </tr>
</table>

<h3>Löschung:</h3>
Die Löschung der o.g. Daten erfolgt, sobald Sie den Alexa Skill deaktiviert haben und damit nicht mehr nutzen.
